/* Add your code in each class */
body {
  padding: 0;
  margin: 0;
  background-color: #1b0c2c;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.movie-card {
  overflow: hidden;
}
.movie-image {
  width: 45vh;
  height: 45vh;
  z-index: -1;
  object-fit: cover;
}

p {
  color: white;
}
.movie-details-container {
  position: relative;
}
.descriptions {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 40vh;
  width: 45vh;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
